<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MyLinkedIn</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/adminhome">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/users">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/registrationrequest">Registration Request</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/skil">Skils</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/posttype">Post Type</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/chat">Chat</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/profile">Your profile</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<h3>CHAT</h3>
<br>

<button (click)="newConvBool = !newConvBool" type="button" class="btn-success" style="background-color: blue"> New Message</button>
<div *ngIf="newConvBool">
<div class="card" style="width: 36rem;">
  <form>
    <section class="mb-3">
      <label for="receiver" class="form-label"> Receiver </label>
      <input type="text" class="form-control" id="receiver" name="searchInput" [(ngModel)]="searchInput"
             placeholder="Search user" required="true" name="idReceiver">
      <div>
        <h6> Results </h6>
        <ul>
          <li *ngFor="let u of allUsers | searchPipe: searchInput">
            <button (click)="newMessage.idReceiver = u.id" type="button" class="btn btn-outline-primary">Id: {{u.id}} Name: {{u.name}} {{u.surname}}</button>
          </li>
        </ul>
      </div>
    </section>
    <div class="mb-3">
      <label for="conversation" class="form-label">Message </label>
      <input type="text" class="form-control" id="conversation"
             [(ngModel)]="newMessage.message" required="true" name="message">
    </div>
    <button  (click)="sendNewMessage()" type="button" class="btn btn-primary" [disabled]="newMessage.idReceiver==idUser || !newMessage.message || !newMessage.idReceiver">Send</button>
  </form>
</div>
</div>
<div class="card" style="width: 45rem;" *ngFor="let item of allChats">
  <button (click)="item.visible = !item.visible"type="button" class="btn btn-info" style="background-color: skyblue" >
    <h4>{{item.nameSender}} - {{item.nameReceiver}}</h4>
  </button>
  <div *ngIf="item.visible">
    <tr *ngFor="let mess of orderMessage(item)">
      <div class="card" style="width: 45rem;">
      {{mess.nameSender}}<br>
      {{mess.datetime | date: 'dd/MM/yyyy'}}<br>
      {{mess.message}}<br>
      </div>
    </tr>
    <form>
      <div class="mb-3">
        <label for="message" class="form-label"></label>
        <input type="text" class="form-control" id="message"
               [(ngModel)]="newMessage.message" required="true" name="message">
      </div>
      <button (click)="addMessage(item)" type="button" class="btn btn-primary" [disabled]="!newMessage.message">Send</button>
    </form>
  </div>
</div>

