<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MyLinkedIn</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/adminhome">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/users">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/registrationrequest">Registration Request</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/skil">Skils</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/posttype">Post Type</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/chat">Chat</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/profile">Your profile</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<h3>All Posts</h3>
<div class="card border-primary" style="width: 45rem;" *ngFor="let item of posts">
  <div class="card-body">
    <div class="row">
    <h3 class="card-header col" style="background-color: skyblue">{{item.type}} </h3>
    <div class="col card-header" style="background-color: skyblue"></div>
      <div class="col card-header" style="background-color: skyblue"></div>
    <div class="card-header col" style="background-color: skyblue"> <button (click)="showHidenPost(item)" type="button" class="btn btn-danger btn-sm">Show/Hide Post</button></div>
    </div>
      <h4>
      <a (click)="moreDetails(item.userId)" style="color: black" class="card-link">{{item.nameAndSurnameUser}}</a>
    </h4>
    <div>
    {{item.datetime | date: 'dd/MM/yyyy' }} <br>
    Visibility: {{item.visible}} <br>
    </div>
    <div *ngFor="let element of item.dataDTOList">
      <div *ngIf="element.field !== 'Foto'">
        {{element.field}}: {{element.data}} <br>
      </div>
    </div>
    <div *ngFor="let element of item.dataDTOList">
      <div *ngIf="element.field === 'Foto'">
        <img src={{element.dataFilePath}} class="card-img" size="auto">
      </div>
    </div>
  </div>
  <a (click)="showOrNotComment(item)" class="card-link">Show/Hide comments</a>
  <div *ngIf="item.showComments">
        <div>
          <ng-container
            *ngTemplateOutlet="recursiveListTmpl; context:{ list: item.commentDTOList }"
          ></ng-container>
        </div>

        <ng-template #recursiveListTmpl let-list="list">
          <div class="card" style="border-color: black" *ngFor="let item of list">
            <h5>{{item.author}}</h5>
            {{ item.datetime | date: 'dd/MM/yyyy HH:mm' }} <br>
            {{item.comment}}
            <ul *ngIf="item.commentsOfThread.length > 0">
              <ng-container
                *ngTemplateOutlet="recursiveListTmpl; context:{ list: item.commentsOfThread }"
              ></ng-container>
            </ul>
          </div>
        </ng-template>
  </div>
</div>
